*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wave_form{
    height: 650px;
    width: auto;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url("https://images.pexels.com/photos/1025469/pexels-photo-1025469.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.wave1{
    height: auto;
    width: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    /* margin-bottom: 100px; */
}

svg{
    height: 100%;
    width: 100%;
    margin-top: 180px;


}
.text{
    color: white;
    margin-top: 100px;
    
}
h3{
    font-size: 2rem;
    
}
h4{
    font-size: 1.5rem;
}

hr{
    width: 300px;
    text-align: center;
    margin-left: 150px;
}
.boxes{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 100px;   
}

.img1{
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: all 800ms;
    transition-delay: 100ms;
    bottom: 60px;
}
.text1{
    position: absolute;
    bottom: 30px;
    font-size: 0.7rem;
}

.img2{
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    transition: all 800ms;
    transition-delay: 100ms;
    position: absolute;
    bottom: 110px;
}
.text2{
    position: absolute;
    bottom: 80px;
    font-size: 1rem;
}

.img3{
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: all 800ms;
    transition-delay: 100ms;
    bottom: 180px;
}
.text3{
    position: absolute;
    bottom: 150px;
}

.img4{
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-position: center;
    background-size: cover;
    transition: all 800ms;
    transition-delay: 100ms;
    bottom: 120px;
}
.text4{
    position: absolute;
    bottom: 100px;
}

.img5{
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: all 800ms;
    transition-delay: 100ms;
    bottom: 170px;
}
.text5{
    position: absolute;
    bottom: 90px;
}



/* ------------ */

.box1{
    position: relative;
}

.box1:hover .img1{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.box1 .text1{
    height: 0;
    width: 0;
    display: flex;
    text-align: center;
    margin-top: 500px;
    position: absolute;
    visibility: hidden;
    bottom: 50px;
    transition: bottom 600ms;
    transition-delay: 300ms;
}

.box1:hover .text1{
    width: 100px;
    bottom:30px;
    color: rgba(107, 94, 74, 0.884);
    visibility: visible;
} 

.box2{
    position: relative;
}

.box2:hover .img2{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.box2 .text2{
    display: flex;
    height:0;
    width:0;
    margin-top: 50px;
    position: absolute;
    visibility: hidden;
    bottom: 100px;
    transition: bottom 600ms;
    transition-delay: 300ms;
}

.box2:hover .text2{
    width: 100px;
    bottom: 80px;
    color: rgba(107, 94, 74, 0.884);
    visibility: visible;
}

.box3{
    position: relative;
}

.box3:hover .img3{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.box3 .text3{
    display: flex;
    height:0;
    width:0;
    visibility: hidden;
    bottom: 160px;
    transition: bottom 600ms;
    transition-delay: 300ms;
}


.box3:hover .text3{
    width: 100px;
    bottom: 140px;
    color: rgba(107, 94, 74, 0.884);
    visibility: visible;
}
.box4{
    position: relative;
}

.box4:hover .img4{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.box4 .text4{
    display: flex;
    height:0;
    width:0;
    position: absolute;
    visibility: hidden;
    bottom: 100px;
    transition: bottom 600ms;
    transition-delay: 300ms;
}

.box4:hover .text4{
    bottom: 80px;
    color: rgba(107, 94, 74, 0.884);
    visibility: visible;
}

.box5{
    position: relative;
}

.box5:hover .img5{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.box5 .text5{
    display: flex;
    height:20px;
    width:20px;
    position: absolute;
    visibility: hidden;
    bottom: 130px;
    transition: bottom 600ms;
    transition-delay: 300ms;
}

.box5:hover .text5{
    bottom: 110px;
    color: rgba(107, 94, 74, 0.884);
    visibility: visible;
}